# Configurações do Servidor
PORT=3001
NODE_ENV=development

# Configurações do Banco de Dados
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=petshop_db
DB_PORT=3306

# Configurações de Segurança
JWT_SECRET=sua_chave_secreta_aqui
JWT_EXPIRES_IN=24h

# Configurações CORS
CORS_ORIGIN=http://localhost:5173 